.root {
    -fx-background-color: black;


}
.label{
    -fx-font-size: 10;
    -fx-font-family:"Lucida Console";
    -fx-icon-color: white;
}
.glyph-icon {
    -fx-fill: white;
}
.button {

    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill:black;
    -fx-background-color: linear-gradient(papayawhip, white);
    -fx-effect: dropshadow( three-pass-box , rgba(0.5,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-icon-color: white;

}


#titleLable{
    -fx-font-size: 20;
    -fx-text-fill:white;
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-icon-color: white;
}
#emailLogin{
    -fx-text-fill:white;
}
#pwdLogin{
    -fx-text-fill:white;
}